[Desktop Entry]
Version=1.0
Type=Application
Name=somikroarc
Exec=~/bin/somikroarc.sh -a  %F
Icon=~/.config/somikro/icons/somikro
Terminal=true
Comment=
Path=
StartupNotify=false
